/* General Styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: white;
}

body, html {
    width: 100%;
    height: 100%;
}


/* Picture of creator */

p img {
    display: flex;
    padding: 12px 12px 12px 12px;
    border-radius: 20%;
    max-width: 225px; 
    float: left;
      
}
/* Headers */

header {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
    color: darkorchid;
    
}

h1 {
    font-size: 20px;
    color: darkorchid;
    text-decoration: underline ;
}

/* Navigation bar */

 #navbar { 
    background-color: white;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}

#navbar ul {
    padding: 5px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0.1rem;
    margin: 0 0.5rem;
    
}

#navbar ul li {
    padding: 10px 10px 10px 10px;  
}

#navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar ul li a:hover {
    background-color: lightpink;
    transition: 0.5s;
}


/* Background image */

#subheader {
    /* background-image: url("./images/nameoffile.jpg"); */
    background-image: url("./images/gradient.jpg");
    padding: 40px 40px 40px 40px;
    margin-top: 40px;

}

.gallery-links {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    padding: 20px;
}

/* images in work gallery  */


 .gallery-img1 {
    position: relative; 
    width: 100%;
   
    
 }

 .gallery-img1 img {
    height: 350px;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    object-fit:contain;
    
 }

 .gallery-img2 {
    position: relative; 
    width: 100%;
    
 }

 .gallery-img2 img {
    height: 250px;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    object-fit:contain;
    display: block;
 }

 .gallery-img3 {
    position: relative; 
    width: 100%;
    
 }

 .gallery-img3 img {
    height: 250px;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    object-fit:contain;
    display: block;
 }

 .gallery-img4 {
    position: relative; 
    width: 100%;
    
 }

 .gallery-img4 img {
    height: 250px;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    object-fit:contain;
    display: block;
 }


/* text on images in work gallery */ 

 h3{
    position: absolute;
    top: 100px;
    left: -10% ;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: black;
 }

 #Work {
    border: 2px solid crimson;
}


#about-me {
    border: 5px solid color rgb(255, 0, 149);
}

#contact {
    border: px solid color rgb(255, 0, 149);
}

.contact-links { 
    background-color: white;
    width: 100%;
}

/* Contact links  */

.contact-links ul {
    padding: 5px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0.1rem;
    margin: 0 0.5rem;
}

.contact-links ul li {
    padding: 10px 10px 10px 10px;  
}

.contact-links ul li a {
    text-decoration: none;
    font-size: 18px;
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-links ul li a:hover {
    background-color: lightpink;
    transition: 0.5s;
}


/* Footer  */

footer {
    text-align: center;
    padding: 20px;
    color: rgb(255, 0, 149);
}


@media (max-width: 500px) {
        #navbar ul {
            height: 160px;
            flex-direction: column;
            text-align: center;

    }

@media (max-width: 500px) {
        #subheader {
            height: 160px;
            

    }   

    @media (max-width: 500px) {
        #subheader {
            height: 160px;
            

    }   

    @media (max-width: 500px) {
        .contact-links ul {
            height: 160px;
            flex-direction: column;
            text-align: center;

    }