
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #e6e6e6;
  
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}

.aboutMe{
    font-family: 'Montserrat', sans-serif;
    background-color: #e6e6e6;
}

.portfolio-hero-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e6e6e6;
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif
    
  }

  .portfolio-hero-header-h1{
    font-family: 'Montserrat', sans-serif
  }

  .portfolio-hero-header-logo {
      width: 25%;
      height: 25%;
  }
  
  .portfolio-hero-header-description {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-description li {
    -webkit-flex: 1 0 200px;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
    text-align: center;
    padding: 0 1.25rem;
    position: relative;
    white-space: nowrap;
  }
  
  .portfolio-hero-header-description li:before {
    content: "*";
    position: absolute;
    left: 0;
    top: 5px;
  }
  
  .portfolio-hero-header-description li:first-child:before {
    content: "";
  }
  
  .portfolio-hero-header-menu {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-menu li {
    margin: 1.25rem;
    
  }
  
  .portfolio-hero-header-menu li a {
      list-style: none;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

 .image{

  width: auto ;
  object-fit: cover;
} 

.card{
  box-shadow: #333;
  background-color: #e6e6e6;
}

 
 
footer {
    text-align: center;
    padding: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: #e6e6e6;
}

@media screen and (max-width: 639px) {

}.card {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 639px) {

}.aboutme{
  display: flex;
  flex-direction: column;
}

/* @media screen and (min-width: 320px) {

}.portfolio-hero-header-menu{
  display: flex;
  flex-direction: column;
} */
 
