
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #e6e6e6;
  
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}

.aboutMe{
    font-family: 'Montserrat', sans-serif;
}

.portfolio-hero-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e6e6e6;
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif
    
  }

  .portfolio-hero-header-h1{
    font-family: 'Montserrat', sans-serif
  }

  .portfolio-hero-header-logo {
      width: 25%;
      height: 25%;
  }
  
  .portfolio-hero-header-description {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-description li {
    -webkit-flex: 1 0 200px;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
    text-align: center;
    padding: 0 1.25rem;
    position: relative;
    white-space: nowrap;
  }
  
  .portfolio-hero-header-description li:before {
    content: "*";
    position: absolute;
    left: 0;
    top: 5px;
  }
  
  .portfolio-hero-header-description li:first-child:before {
    content: "";
  }
  
  .portfolio-hero-header-menu {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-menu li {
    margin: 1.25rem;
    
  }
  
  .portfolio-hero-header-menu li a {
      list-style: none;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

img{
    height: 100%; 
     width: 100%; 
     object-fit:cover; 
}


/* links to deployment of work */


/* Images of pictures of deployments */

 /* .gallery-links img {
    height: 100%; 
     width: 100%; 
     object-fit:cover; 
    
 }

 .gallery-links a:first-of-type {
    flex-basis: 425px;
    
 } */


 /*  header on deployment pictures */

/* .gallery-links h3{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color:#ffff;
    height: 32px;
    line-height: 32px;
    background-color: rgb(228, 61, 178, 0.25);
} */ 



footer {
    text-align: center;
    padding: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: #e6e6e6;
}

/* Media Query

@media (max-width: 500px) {
        #navbar ul {
            height: 160px; 
            display: flex;
            flex-direction: column;
            justify-content: center;

    }
}

@media (max-width: 700px) {
        #subheader {
             height: 160px; 
    }   

}

    @media (max-width: 700px) {
        .contact-links ul {
            height: 160px;
            display: flex;
            flex-direction: column;
            justify-content: center;

    }
} */

     /* @media (max-width: 700px) { 
        .gallery-links img { 
        display: flex; 
        flex-direction:column;
        width: 150px;
        height: auto;
          }
            
         @media (max-width: 700px) {
        .gallery-links div a{
          flex-basis: 150px;
          height: 250px;
          position: relative;
          margin: 30px; 
        }   

        @media (max-width: 700px) {
        .gallery-links a:first-of-type {
         flex-basis: 150px;
         height: 250px;
          position: relative;
          margin: 30px; 
            }
        }
           */
         